
# ignore data files. Must manually configure
pnet_data/*

# ignore containers. These are not tracked here
containers/*

# ignore pred files
pi0*

nohup.out
training_log.csv

__pycache__
__pycache__/
*/__pycache__
models/__pycache__/